absl-py==2.3.1
adjustText==1.3.0
aiobotocore==2.24.2
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioitertools==0.12.0
aiosignal==1.4.0
alembic==1.16.5
anndata==0.12.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///home/task_175792493655564/conda-bld/argon2-cffi-bindings_1757924979391/work
array-api-compat==1.12.0
asttokens @ file:///croot/asttokens_1743630435401/work
async-lru @ file:///croot/async-lru_1699554519285/work
attrs==25.3.0
babel @ file:///croot/babel_1737454360933/work
beautifulsoup4==4.14.2
biothings_client==0.4.1
bleach @ file:///croot/bleach_1732290411627/work
blessed==1.22.0
botocore==1.40.18
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
cachetools==6.2.0
cattrs==25.2.0
cell-gears==0.1.2
cell-load==0.8.5
cellxgene-census==1.17.0
certifi==2025.8.3
cffi @ file:///croot/cffi_1736182485317/work
chardet @ file:///croot/chardet_1755516360657/work
charset-normalizer==3.4.3
chex==0.1.91
click==8.3.0
cloudpickle==3.1.1
colorlog==6.9.0
comm @ file:///croot/comm_1709322850197/work
contourpy==1.3.3
crc32c==2.7.1
cupy-cuda11x==13.6.0
cycler==0.12.1
databricks-sdk==0.67.0
datasets==4.1.1
dcor==0.6
debugpy==1.8.17
decorator @ file:///home/task_175734035162575/conda-bld/decorator_1757341232127/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.18
dill==0.4.0
distro==1.9.0
dnspython==2.8.0
docrep==0.3.2
donfig==0.8.1.post1
executing @ file:///home/task_175706124557094/conda-bld/executing_1757061259817/work
fastapi==0.118.0
fastjsonschema @ file:///croot/python-fastjsonschema_1731939362158/work
fastrlock==0.8.3
filelock==3.19.1
fonttools==4.60.1
frozenlist==1.7.0
fsspec==2025.9.0
future==1.0.0
gdown==5.2.0
geomloss==0.2.6
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.41.1
gpustat==1.1.1
greenlet==3.2.4
grpcio==1.76.0
h11 @ file:///croot/h11_1748442006460/work
h5py==3.14.0
hf-xet==1.1.10
hf_transfer==0.1.9
hnswlib @ file:///fs-computility-new/upzd_share/maoxinjie/wenxy/hnswlib
httpcore @ file:///croot/httpcore_1748526048470/work
httpx @ file:///croot/httpx_1746747840559/work
huggingface-hub==0.35.3
hydra-colorlog==1.2.0
hydra-core==1.3.2
hyperopt==0.1.2
idna==3.10
igraph==0.11.9
importlib_metadata==8.7.0
iniconfig==2.1.0
ipykernel @ file:///home/task_175758336750008/conda-bld/ipykernel_1757583382803/work
ipython @ file:///home/task_175932809916977/conda-bld/ipython_1759328496611/work
ipython_pygments_lexers @ file:///croot/ipython_pygments_lexers_1744753235686/work
ipywidgets==8.1.7
jax==0.7.1
jaxlib==0.7.1
jedi @ file:///croot/jedi_1733987392413/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
jiter==0.11.1
jmespath==1.0.1
joblib==1.5.2
json5 @ file:///croot/json5_1730786798687/work
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-events @ file:///croot/jupyter_events_1741184577592/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1745827015155/work
jupyter_client @ file:///croot/jupyter_client_1737570961872/work
jupyter_core @ file:///croot/jupyter_core_1751991368470/work
jupyter_server @ file:///croot/jupyter_server_1751996616172/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1744706698694/work
jupyterlab @ file:///home/task_175812492765234/conda-bld/jupyterlab_1758125004017/work
jupyterlab_pygments @ file:///croot/jupyterlab_pygments_1741124142640/work
jupyterlab_server @ file:///croot/jupyterlab_server_1725865349919/work
jupyterlab_widgets==3.0.15
kiwisolver==1.4.9
legacy-api-wrap==1.4.1
leidenalg==0.10.2
lightning==2.5.5
lightning-utilities==0.15.2
llvmlite==0.45.1
Mako==1.3.10
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.6
matplotlib-inline @ file:///home/task_175851944441289/conda-bld/matplotlib-inline_1758520101789/work
mdurl==0.1.2
mistune @ file:///croot/mistune_1741124011532/work
ml_collections==1.1.0
ml_dtypes==0.5.3
mlflow-skinny==3.4.0
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.1
mudata==0.3.2
multidict==6.6.4
multiprocess==0.70.16
mygene==3.2.2
natsort==8.4.0
nbclient @ file:///croot/nbclient_1741123995822/work
nbconvert @ file:///croot/nbconvert-meta_1741184653315/work
nbformat @ file:///croot/nbformat_1728049424075/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx==3.5
notebook @ file:///croot/notebook_1756709302552/work
notebook_shim @ file:///croot/notebook-shim_1741707758683/work
numba==0.62.1
numcodecs==0.16.3
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-ml-py==13.580.82
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
omegaconf==2.3.0
openai==2.6.1
opentelemetry-api==1.37.0
opentelemetry-proto==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
opt_einsum==3.4.0
optuna==4.5.0
overrides @ file:///croot/overrides_1699371140756/work
packaging==25.0
pandas==2.3.3
pandocfilters @ file:///home/task_175697771096564/conda-bld/pandocfilters_1756977754797/work
parso==0.8.5
patsy==1.0.1
pexpect @ file:///croot/pexpect_1750072593878/work
pillow==12.0.0
platformdirs==4.4.0
plottable==0.1.5
pluggy==1.6.0
prometheus_client @ file:///croot/prometheus_client_1744271615306/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
propcache==0.3.2
protobuf==6.33.0
psutil==7.1.0
psycopg2-binary==2.9.10
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval @ file:///home/task_175706703828594/conda-bld/pure_eval_1757067053474/work
pyarrow==21.0.0
pyarrow-hotfix==0.7
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybiomart==0.2.0
pycparser @ file:///home/task_175749606196006/conda-bld/pycparser_1757496076770/work
pydantic==2.11.9
pydantic_core==2.33.2
pydot==4.0.1
Pygments @ file:///croot/pygments_1744664109463/work
pymongo==4.15.3
pynndescent==0.5.13
pyparsing==3.2.5
pyro-api==0.1.2
pyro-ppl==1.9.1
PySocks==1.7.1
pytest==8.4.2
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-dotenv==1.1.1
python-json-logger @ file:///croot/python-json-logger_1734370021104/work
pytorch-lightning==2.5.5
pytz==2025.2
PyYAML==6.0.3
pyzmq @ file:///home/task_175810349686595/conda-bld/pyzmq_1758103934047/work
ray==2.49.2
rdkit==2025.9.1
referencing==0.36.2
regex==2025.9.18
requests @ file:///croot/requests_1756709366904/work
requests-cache==1.2.1
rfc3339-validator @ file:///croot/rfc3339-validator_1683077044675/work
rfc3986-validator @ file:///croot/rfc3986-validator_1683058983515/work
rich==14.1.0
rpds-py==0.27.1
rsa==4.9.1
ruff==0.14.10
s3fs==2025.9.0
safetensors==0.6.2
scanpy==1.11.4
scib==1.1.7
scib-metrics==0.3.3
scikit-learn==1.7.2
scikit-misc==0.5.1
scipy==1.12.0
scvi-tools==0.7.1
seaborn==0.13.2
Send2Trash @ file:///croot/send2trash_1736540790175/work
sentry-sdk==2.39.0
session-info2==0.2.2
shapely==2.1.2
six @ file:///croot/six_1744271502820/work
smmap==5.0.2
sniffio==1.3.1
somacore==1.0.28
soupsieve==2.8
sparse==0.17.0
SQLAlchemy==2.0.43
sqlparse==0.5.3
stack_data @ file:///home/task_175706683579810/conda-bld/stack_data_1757067036897/work
starlette==0.48.0
statsmodels==0.14.5
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
terminado @ file:///home/task_175793485199819/conda-bld/terminado_1757934866981/work
texttable==1.7.0
threadpoolctl==3.6.0
tiledbsoma==1.17.1
tinycss2 @ file:///croot/tinycss2_1738337643607/work
tokenizers==0.22.1
toml==0.10.2
toolz==1.1.0
torch==2.8.0
torch-geometric==2.6.1
torch_scatter==2.1.2
torchaudio==2.8.0
torchmetrics==1.8.2
torchtext==0.18.0
torchvision==0.23.0
tornado==6.5.2
tqdm==4.67.1
traitlets @ file:///croot/traitlets_1718227057033/work
transformers==4.56.2
triton==3.4.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
umap-learn==0.5.9.post2
url-normalize==2.2.1
urllib3 @ file:///croot/urllib3_1750775463400/work
uvicorn==0.37.0
wandb==0.22.1
wcwidth @ file:///croot/wcwidth_1750352883074/work
webencodings==0.5.1
websocket-client @ file:///croot/websocket-client_1715878298792/work
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wrapt==1.17.3
xarray==2025.9.1
xlrd==2.0.2
xxhash==3.6.0
yarl==1.20.1
zarr==3.1.3
zipp==3.23.0
